<style>
      body {
        background: black;
        text-align: center;
        margin-top: .5rem;
      }
      p,h1,h3,h4 {
        color: gold;
      }
    </style>

 <h1>Hangman &#9786;</h1>
<p> <%=@session%> </p>
<img src= <%=@image%>/>

<h3> <%=@final_word%> </h3>
<h4>Enter a letter a click guess to play!</h4>

<form>
     <input type="text" name='guess' required>
     <input type="submit" value='Guess!'>
</form>

<p>Guesses Remaining - <%=@@guessesz%></p> <br>
<p>  <%=@message%> </p>
